{% extends "base.html" %}
{% block content %}
<div>
   <!-- actual posts 'badge-pill' -->
   {% if posts %}
        {% for post in posts%}
            <div class="mb-4">
                <h3>
                    <img src="https://ui-avatars.com/api/?name={{post.user.username}}&background=FFA500&rounded=true" alt="profile-pic" height="50px" width="50px"> 
                    {{ post.title }}
                </h3>
                <span style="font-size: 12px;" class="text-capitalize text-muted">Posted on {{ post.date_posted|date:"M d, Y" }} | by {{ post.user.username }}</span>
                <p>
                    {{ post.desc }}
                </p>
                <button class="btn btn-primary mt-0" onclick="return window.location.href='/post/{{post.id}}/'">Comment</button>
                {% if post.comment_count %}
                    <span class="badge badge-danger">{{post.comment_count}}</span>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
    {% endif %}

    <!-- paginated posts -->
    {% if is_paginated %}

    <div class="text-center">
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-secondary mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>

    {% endif %}

</div>

{% endblock content %}

